@media (max-width: 768px) {
  .task {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    max-width: 240px;
  }

  .taskName {
    max-width: 100%;
  }

  .buttonComplete,
  .buttonDelete,
  .buttonEdit {
    margin-top: 8px;
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 600px;
}

.completed {
  background-color: #a0e6a0;
}

.priority {
  padding: 4px 8px;
  font-weight: bold;
  border-radius: 4px;
}

.priority.urgente {
  background-color: #ff5252;
  color: #fff;
}

.priority.alta {
  background-color: #ff9800;
  color: #fff;
}

.priority.media {
  background-color: #2196f3;
  color: #fff;
}

.priority.baixa {
  background-color: #4caf50;
  color: #fff;
}

.taskName {
  flex: 1;
  margin-left: 10px;
  color: #111;
  max-width: 70%;
  white-space: ellipse;
  overflow: hidden;
}

.buttonComplete {
  color: #fff;
  background-color: #6b8e23;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.buttonDelete {
  color: #fff;
  background-color: #a32420;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.buttonRetrieve,
.buttonEdit {
  background-color: #fff;
  padding: 5px 5px;
  margin-left: 5px;
}
