.generalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 650px;
  height: 580px;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.generalContainer h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.filterPanel {
  justify-content: space-around;
}

.inputForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inputForm input[type='text'],
.inputForm select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
  margin-right: 12px;
}

.inputForm button {
  padding: 15px 15px;
  background-color: #4b0082;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.listSection {
  list-style: none;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}

.listSection::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.listSection::-webkit-scrollbar {
  width: 6px;
  margin-right: 10px;
}

.listSection::-webkit-scrollbar-thumb {
  background-color: #4b0082;
  border-radius: 6px;
}
